.ant-list-item:hover {
	background-color: rgb(196 196 196);
}
.active-user {
	background-color: rgb(135 135 135);
}
.friends-chat {
	overflow: auto;
	/* stylelint-disable-next-line order/properties-order */
	height: calc(100vh - 60px);
}
.search-friend-class {
	padding: 13px;
	border-bottom: 1px solid #a7a7a7;
}
.ant-card-body {
	background: #83beeb;
}
