/* stylelint-disable block-opening-brace-space-before */
.userInfo-descriptions {
	text-align: center;
	/* stylelint-disable-next-line order/properties-order */
	padding-left: 39px;
}
.ant-descriptions {
	padding: 10px;
}
.ant-upload-list {
	display: flex;
}
