/* stylelint-disable length-zero-no-unit */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable no-invalid-double-slash-comments */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable order/properties-order */
.cr {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 190px;
}
.message-container {
	overflow: auto;
}
.chatFooter {
	width: 100%;
}
.footer-body {
	position: relative;
	border-top: 1px solid #a7a7a7;
	padding: 5px;
}
.ant-card- {
	color: #f8f8f8;
	background: #3f3f3f;
}
.multi-div {
	margin-bottom: 30px;
}
// 发送消息按钮
.right-send-btn {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 100;
}
.left-voice-btn {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 100;
}
/*
text-align: right;
margin-bottom: 5px;
*/
.multi-btn {
	position: absolute;
	right: 9px;
	top: 9px;
	z-index: 100;
}
/* 
	左边消息样式 
	margin-bottom 上下间距
*/
.le {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	margin-bottom: 20px;
}
.le-box {
	display: flex;
	align-items: center;
	gap: 20px;
}
.le-box-voice {
	display: flex;
	align-items: center;
	gap: 20px;
	div {
		cursor: pointer;
	}
}
.le-message-box {
	background-color: white;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
}
.le-message-box::after {
	content: "";
	position: absolute;
	top: 13px;
	left: -16px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent white transparent transparent;
}
.le-stt-icon {
	position: absolute;
	right: -20px;
	top: 15px;
}
/* 
	右边消息样式 
	flex-direction: column 靠右
*/
.ri {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	margin-bottom: 20px;
	flex-direction: column;
}
.ri-box {
	display: flex;
	align-items: center;
	gap: 20px;
}
.ri-box-voice {
	display: flex;
	align-items: center;
	gap: 20px;
	div {
		cursor: pointer;
	}
}
.ri-message-box {
	background-color: #51de80;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
}
.ri-message-box::after {
	content: "";
	position: absolute;
	top: 13px;
	right: -16px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #51de80;
}
.ri-stt-icon {
	position: absolute;
	left: -20px;
	top: 15px;
}
